* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.layout {
    background-color: #b91450;
    color: white;
    min-height: 650px;
}

select {
    padding: 1px;
}

input, select {
    border: 1px solid #b91450;
    outline: 0;
}

.buttons * {
    border: 2px solid grey;
    border-radius: 5px;
    font-weight: 500;
    color: #b91450;
    background-color: lightgray;
    padding: 3px 10px;
}

.buttons *:hover {
    border-color:coral;
}

.layout .inner {
    background-color: white;
    color: black;
    border-radius: 10px;
    margin: 0 10%;
}